---
layout: simple_home
---
<div id="simple-body">
	{% include navigation.html %}
	<div id="container">
		{% for post in site.posts %}
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
			<span class='meta'>{{ post.date | date_to_string }}</span>
			<div class="post">
				{{post.excerpt}}
			</div>
			<div class="read-more-container">
				<a class="read-more" href="{{ post.url }}">Read More &#8594;</a>
			</div>
		{% endfor %}
		<script type="text/javascript">
			if( !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
				initPostList(); 
			}
		</script>
		</ul>
    </div>
</div>