<div class="header">
	<section>
		<h1 class="heading"><a href="#">{{ include.heading }}</a></h1>
	</section>
		{% if include.summary %}
			<h2 class="summary">{{ include.summary }}</h2>
		{% endif %}
		{% if include.subheading %}
			<h2 class="subheading">{{ include.subheading }}</h2>
		{% endif %}
	{% unless include.social_icons == false %}
	<div id="home-links">
		{% include social_icons.html %}
	</div>
	{% endunless %}
	{% unless include.read_more_arrow == false %}
	<a href="#posts" id="read-more-arrow">&#8595;</a>
	{% endunless %}
</div>