---
layout: post_theater
title:  "Studying The Heart"
tags: [reminders, rhyme]
share: discuss
---

%audio{"src" =>"/audio/studying_my_heart.ogg", "preload" => "auto"}
	Your browser does not support the <code>audio</code> element.

- [{word: "I'm", step: 100}, {word: "studying"}, {word: "my"}, {word: "heart", step: 1600, class: "pulse"}, {line_break: 1},
	{word: "I'm"}, {word: "digesting", step: 300}, {word: "my", step: 200}, {word: "name", step: 1600}, {line_break: 2}, 
	{word: "I'm"}, {word: "taking", step: 300}, {word: "borders"}, {word: "apart", step: 500 , class: "break-away-right"}, {line_break: 1},
	{word: "and"}, {word:"putting", step: 300}, {word: "my"}, {word: "pride", step: 300}, {word: "to"}, {word: "shame", step: 1600}, {line_break: 2},
	{word: "I've", step: 100}, {word: "been"}, {word: "a", step: 100}, {word: "shell", step: 300}, {word: "of"}, {word: "myself", step: 600}, {line_break: 1},
	{word: "but"}, {word: "its"}, {word: "the"}, {word: "season", step: 300},{word: "of"}, {word: "change", step: 1600}, {line_break: 2},
	{word: "Aint"}, {word: "no"}, {word: "reason"}, {word: "for"}, {word: "doubt", step: 1300}, {line_break: 1}, 
	{word: "this"}, {word: "is"}, {word: "when", step: 300}, {word: "a"}, {word: "moth", step: 300}, {word: "meets", step: 300}, {word: "its"}, {word: "flames", step: 1600}, {line_break: 2}].each do |scene|
	- if scene[:line_break]
		- scene[:line_break].times do
			%br
	- else
		- class_names = "#{"fade-in " unless scene[:no_fade_in]} #{scene[:class]}"
		%span.scene{"data-scene-step" => scene[:step], :class => (class_names unless class_names.gsub(" ", "").empty?) }= scene[:word]



<span style="display: none;"><!--more--></span>
<div style="display: none">
when a perfectionist dies <br/>
so the perfection remains

like this universe was beautiful <br/>
before I ever came 

I've got nothin to claim <br/>
not even the place where I stay

because if you give a fish <br/>
a bowl you take its ocean away

if they asked what I've learned <br/> 
tell em its as simple as this

anger is just fear <br/>
clenched in a fist

Learning to let go <br/>
is what it means to resist

I've learned, to have the mind of an elder <br/>
with the heart of a child

I live in a cage, <br/>
but I was born to be wild

And Freedom, ain't nothin, but <br/>
staring down fear with a smile

All the while, to love myself fully <br/>
and not just for the positive things

For When I grew wings,  <br/>
they said they were proud. 

They adorned them in jewels so heavy  <br/>
I could never leave the ground. 

That's why I'd rather be a pidgin than a peacock,  <br/> 
A feather too many, is too heavy for me

Don't sweeten my air with sugar,  <br/>
because I like it when I can breath

a feather could be a tether <br/>
just as much as it is a key

It's better to give it to someone with lesser <br/> 
than letting it hold me down by my greed

Cuz the fruits that I eat, <br/>
are the product of someone else's hard work

I've learned, that the guilt of privilege hurts, <br/>
ignorance is the most painful of losses

But it doesn't compare to the pain <br/>
the cost of that privilege causes

Compassion can build solidarity <br/>
pity is a narrow way to feel tall

If you grow like a red wood,  <br/>
you may scrape the sun for a moment, <br/>
but you are destined to fall

But, if you grow like a banyan tree, <br/>
in every leaf in the forest <br/>
you feel the light through us all 

I've learned, the furthest you can travel <br/>
is to the corners of your mind

Genius is not something you have, <br/>
But it is something that you find

But most of all, I've learned, <br/>
I was never a poet <br/>
in all that I've written

I've just been trying to interpret <br/>
the metaphor that we live in

So to all I've been given, <br/>
Since my journey's begun

Every stroke of my pen <br/>
Every breath in my lung

Is a thank you <br/>
in the voice of the dumb
</div>