/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  /*background-color: #f6f6f6;*/
  /*font: 13.34px Helvetica, Arial, sans-serif;*/
  font: 1.3em Cardo, Georgia, Cambria, 'Times New Roman', Times, serif;
  /*font-size: large;*/
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-size: 100%; }

h1 { margin-bottom: 1em; }
h2 { font-size: 70%}

p { margin: 1em 0; 
    line-height: 1.635em
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.header {
  font-size: 250%;
  margin-bottom: 0em; 
}

.header a {
  /*font-weight: bold;*/
  text-decoration: none;
}

.title a {
  color: #FF4D4D;
}

.title a:hover {
  color: #a00;
}

.header a.extra {
  color: #339966;
}

.header a.extra:hover {
  color: #246B47;
}

.footer {
  font-size: 120%;
  color: #666;
  overflow: hidden;
  padding: 0.6em;
}

.footer .contact {
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.align-center {
  text-align: center;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home-body .posts {
  max-width: 50em;
}

#home-body .posts p {
  text-align: left
}

#home-body .posts img {
  max-width: 20em;
}

#banner  {
  height: 65%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 0% 0% 15% 15%;
  border-bottom: solid 4px #fc0;
}

#banner .title-container {
  background-color: rgba(245, 245, 245, 0.2);
  position: absolute;
  width: 100%;
  left: 0%;
  top: 45%;
  font-size: 340%; 
}

#banner h1 {
  font-weight: 300;
  margin-bottom: 0em; 
}

#banner a {
  color: red;
  text-decoration:none;
}

#banner a:hover {
  color: #fc3a3a;
}

#banner a.extra {
  color: #02a350;
}

#banner a.extra:hover {
  color: #109653;
}

/*****************************************************************************/
/*
/* Featured
/*
/*****************************************************************************/

.poet-banner, .programmer-banner {
  background: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -25em 0em; 
}

#featured .content {
  display: inline-block;
  min-width: 50%;
  border-left: 4px solid rgb(247, 208, 1);
}

#featured .offsetter {
  height: 100%;
  max-width: 50%;
}

/*****************************************************************************/
/*
/* Social (Shouting!)
/*
/*****************************************************************************/

.twitter {
  color: #55ACEE;
}

.twitter:hover {
  color: #8B9DC3;
}


/*****************************************************************************/
/*
/* Panel
/*
/*****************************************************************************/

.panel h1 {
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 3em;
}

.panel h1 a {
  text-decoration:none;
  padding-top: 0.8em;
  font-size: 200%;
}

.panel h1 a.active {
  color: #02a350;
}

.panel h1 a.inactive {
  color: #757C7A;
}

.panel h1 a:hover {
  color: #109653;
}

.panel h2 {
  text-align: center;
}

.panel h2 a {
  font-size: 200%;
}

.panel {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 1em;
  padding-left: 10em;
  padding-right: 10em;
}

.panel img {
  max-width: 20em;
}

.panel p {
  margin-bottom: 2em;
}

.panel a {
  /*color: rgb(247, 208, 1);*/
  /*color: #00814D;*/
  /*color: #008167;*/
  color: #257E62;
  text-decoration: none;
}

.panel a:hover {
  color: rgb(247, 208, 1);
  /*color: #d1ae00;*/
}

.panel .date {
  float: right;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  margin-top: 3em;
  margin-bottom: 3em;
}


/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post h2 {
  font-size: 120%;
  color: #757C7A;
  margin: 2.2em 0em;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.tags {
  list-style-type: none;
}

.tags li {
  display: inline;
}



/*new layout*/

hr { border: 0; 
  height: 0; 
  border-top: 1px solid rgba(0, 0, 0, 0.1); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
}
/*title panel*/
#container {
  padding-top: 3em;
  margin: auto;
  width: 58em;
  padding-left: 2em;
}

#title-panel {
  width: 25%;
  float: left;
}

#title-panel h1 {
  margin-top: 0.4em;
  margin-bottom: 1em;
}

#title-panel h1 a {
  color: #FF4D4D;
  font-size: 225%;
}

#title-panel h1 a:hover {
  color: #a00;
}

#title-panel img {
  width: 100%;
  border-top-left-radius: 30em;
  /*border-bottom-left-radius: 30em;*/
  display: block;
  border-left: solid 4px #fc0;
}

#title-panel .menu {
  display: inline-block;
  text-align: right;
}

#title-panel .menu li {
  list-style-type: none;
  font-size: 170%; 
  margin-bottom: 0.25em;
}

#title-panel a {
  color: #757C7A;
  text-decoration: none;
}

#title-panel a:hover {
  color: #02a350;
  text-decoration: none;
}

#title-panel .social {
  margin-top: 0.3em;
}
#title-panel .social li {
  list-style-type: none;
  display: inline;
  margin-left: 0.3em
}

/* content panel*/
#content-panel {
  width: 70%;
  float: left;
  margin-left: 2.9em;
}

#content-panel p {
  text-align: left;
}

#content-panel a {
  color: #02a350;
  text-decoration: none;
}

#content-panel a:hover {
  color: #fc0;
  text-decoration: none;
}

#content-panel h1 {
  font-size: 180%;
}

#content-panel h1 a {
  color: #02a350;
  text-decoration: none;
}

#content-panel h1 a:hover {
  color: #fc0;
  text-decoration: none;
}

#content-panel .content {
  display: inline-block;
  text-align: left:;
}

#content-panel .meta {
  color: #aaa;
}

/*post*/
.post {
  margin-bottom: 0em;
}

.post a.read-more {
  display: block;
}

/*list of posts*/
.posts {
  list-style-type: none;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.posts li {
  line-height: 1.75em;
  text-align: left;
  margin-bottom: 0.1em;
}

@media (max-width: 900px) {
    body {
        background-color: black;
    }
}
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
#banner {
  background-image: url("/assets/sipping_tea-d446555e6596efe1977cd7e316a556f5.jpg"); }

.poet-banner {
  background-image: url("/assets/BloomBars1-716648009f909e0071e618f214a84539.jpg"); }

.programmer-banner {
  background-image: url("/assets/italian_graffiti-18949a2f84dce18213f74e633734ca8a.jpg"); }

#featured .content {
  background-image: url("/assets/bg-texture-84c2c522b69d83aaceb0f52c9c0f870e.png"); }
