---
layout: poet
title: Poet
---

<h1>About</h1>
<p>Anirudh ‘Eka’ is a poet born in Hyderabad, India and raised in Minnesota and North Carolina. Eka can't remember when he really "started" writing poetry, but his affair with spoken word began in 2008. As a founding member of Sacrificial Poets, the North Carolina Youth Slam Team, he joined them on their first trip to Brave New Voices in Washington, DC. Since then Eka has featured in several venues across North Carolina, Atlanta, London, New York and Washington, D.C. He is humbled by every moment an ear has given him because words are just sounds coming out of mouths until someone chooses to give them meaning. To him, the listener is the artist, the poet just brings the paint.</p>

<h1>Posts</h1> 
<ul class="posts">
  {% for post in site.posts %}
    {% if post.categories contains 'poet'%}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{post.content}}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>