//= require_tree .

#banner
  background-image: url(asset_path('sipping_tea.jpg'))
.poet-banner
  background-image: url(asset_path('BloomBars1.jpg'))
.programmer-banner
  background-image: url(asset_path('italian_graffiti.jpg'))
#featured .content
  background-image: url(asset_path('bg-texture.png'))

body
  font-size: 1.4em

#simple-body
  color: #333
  background-color: white
  overflow: initial
  text-align: left
  
  nav
    background-color: #45A39A
    padding: 0.2em 0em 0.3em 0em

    a
      color: white
      font-size: 1.5em 
      text-decoration: none
      transition: color 1s
      -webkit-transition: color 1s

    a:hover
      color: #FECFA1
      transition: color 1s
      -webkit-transition: color 1s

    #nav-container
      width: 54em
      margin: auto

  #container
    width: 39em

  h1
    text-align: center
    font-size: 2em

    a
      text-decoration: none
      color: #45A39A


  h2
    text-align: center

  .meta
    color: #828986
    text-align: center
    display: block

#simple-home
  background-color: white
  overflow-y: scroll

  #title-container
    padding-top: 11em
    background-color: #FECFA1

    h1
      text-align: center
      font-size: 4.7em
      display: inline-block
      margin-bottom: 0em
      vertical-align: 60%
      letter-spacing: 0.05em

    a
      text-decoration: none
      color: #45A39A

    h2
      color: #828986
      font-size: 1.4em
      max-width: 30em
      text-align: left
      margin: 1em auto
      padding: 0em 0.5em
      letter-spacing: 0.03em
      line-height: 1.2em

    #read-more-arrow
      padding: 1.44em 0em
      font-size: 2.9em
      display: inline-block