//= require_tree .

body
  background-image: url(asset_path('bg-texture.png'))
.panel
  background-image: url(asset_path('panel-texture.png'))
#banner
  background-image: url(asset_path('sipping_tea.jpg'))
#poet .bg
  background-image: url(asset_path('BloomBars1.jpg'))
#poet .content
  background-image: url(asset_path('bg-texture.png'))
