.cloud-base
  position: relative
  height: 10vw
  width: 21vw
  border-radius: 10vw
  -webkit-border-radius: 100px
  -moz-border-radius: 100px

.cloud-base:before, .cloud-base:after
  position: absolute
  content: ''

.cloud-base:before
  top: -5vw
  right: 3vw
  height: 10vw
  width: 10vw
  border-radius: 10vw

.cloud-base:after
  top: -3vw
  right: 11vw
  height: 6vw
  width: 6vw
  border-radius: 5vw

.cloud, .cloud-2
  @extend .cloud-base

.cloud-2:before
  left: 3vw
  right: 0vw

.cloud-2:after
  left: 11vw
  right: 0vw