@import constants

.invite-mouse
  border-bottom: 1px dashed $black
  cursor: pointer

.pulse
  display: inline-block
  transition-property: transform, color
  transition-duration: 3.5s

.pulse-end, .pulse:hover
  animation-name: pulse
  animation-duration: 0.5s 
  animation-timing-function: ease-out 
  animation-delay: 0
  animation-direction: alternate
  animation-iteration-count: 2
  animation-fill-mode: none
  animation-play-state: running

.pulse-end
  animation-iteration-count: 2

.pulse:hover
  animation-iteration-count: infinite

  @keyframes pulse 
    0%
      transform: scale(1)  
    100%
      transform: scale(1.1)
      color: $maroon
  

.fade-out
  @extend .invite-mouse
  visibility: visible
  opacity: 1
  transition: visibility 0s linear 1s, opacity 1s linear

.fade-out:hover
  visibility: hidden
  opacity: 0

.fade-in
  opacity: 0
  transition: opacity .1s ease-in-out

.fade-in-end
  opacity: 1

.break-away-right
  letter-spacing: 0em
  transition-property: letter-spacing, padding-left
  transition-delay: 0s
  transition-duration: 1s
  transition-timing-function: ease

.break-away-right-end
  letter-spacing: 0.1em
  padding-left: 0.1em

.break-away-right:hover
  letter-spacing: 0em

.slide-from-right, .slide-from-right:hover
  padding-left: 0.2em
  transition-property: letter-spacing, padding-left
  transition-delay: 0s
  transition-duration: 1s
  transition-timing-function: ease  

.slide-from-right-end
  padding-left: 0em


.bg-night-sky-end 
  background-color: black
  color: white