/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  /*background-color: #f6f6f6;*/
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.header {
  text-align: left;
  font-size: 250%;
  padding-left: 1em;
  margin-bottom: 0em; 
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
}

.title a {
  color: #FF4D4D;
}

.title a:hover {
  color: #a00;
}

.header a.extra {
  color: #339966;
}

.header a.extra:hover {
  color: #246B47;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 120%;
  color: #666;
  overflow: hidden;
  padding: 0.6em;
}

.footer .contact {
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#home-body .posts {
  max-width: 50em;
}

#home-body .posts p {
  text-align: left
}

#home-body .posts img {
  max-width: 20em;
}

#banner  {
  height: 60%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 0% 0% 30% 30%;
  border-bottom: solid 4px #fc0;
}

#banner .title {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 35%;
  font-size: 340%; 
}

#banner a {
  color: red;
  text-decoration:none;
}

#banner a:hover {
  color: #fc3a3a;
}


/*****************************************************************************/
/*
/* Poet
/*
/*****************************************************************************/

#poet .bg {
  background: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -25em 0em; 
}

#poet .content {
  display: inline-block;
  min-width: 50%;
  border-left: 4px solid gold;
}

#poet .offsetter {
  height: 100%;
  max-width: 50%;
}
/*****************************************************************************/
/*
/* Panel
/*
/*****************************************************************************/

.panel h1 {
  text-align: center;
  padding-bottom: 1em;
  border-bottom: .1em solid gray;
  margin-bottom: 3em;
}

.panel h1 a {
  text-decoration:none;
  padding-top: 0.8em;
  color: #02a350;
  font-size: 340%;
}

.panel h1 a:hover {
  color: #109653;
}

.panel {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 1em;
  max-width: 40em;
}

.panel img {
  max-width: 20em;
}

.panel p {
  color: #ddd;
  margin-bottom: 2em;
}

.panel a {
  color: gold;
  text-decoration: none;
}

.panel a:hover {
  color: #d1ae00;
}

.panel li a {
  font-size: 150%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.posts li {
  line-height: 1.75em;
  text-align: left;
  margin-bottom: 1.5em;
}


.posts span, {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
