@import constants

.button-hover-animation
  transition: color 1s
  -webkit-transition: color 1s
  color: white

.button-hover-animation:hover
  color: $beige
  transition: color 1s
  -webkit-transition: color 1s

.button-hover-animation:visited
  color: white

nav
  background-color: $teal
  padding: 0.2em 0em 0.3em 0em

  a
    @extend .button-hover-animation
    font-size: 1.5em 
    text-decoration: none

    @media screen and (max-width: $break-medium)
      font-size: 2em

  #nav-container
    width: 54em
    margin: auto

    @media screen and (max-width: $break-medium)
      width: initial
      text-align: center

    .social-icons
      display: inline-block
      margin-left: 60%
      font-size: 0.5em

      @media screen and (max-width: $break-medium)
        display: block
        margin: auto

nav.scrolled-to-top
  position: fixed
  top: 0
  width: 100%