@import constants
@import theme

.theater-controls
  margin: 1em auto
  text-align: center
  position: absolute
  z-index: 1000
  left: 0
  right: 0
  top: 20%

  ul
    list-style-type: none

  .play
    @extend .button-hover-animation
    cursor: pointer
    font-size: 4.5em

    i
      background-color: $teal
      padding: 0.1em 0.2em


.theater-is-playing
  display: none