@import constants

.light-theme
	font-size: 1.3em
	color: black
	background: white

.space-theme
	color: #CCDBE0
	font-size: 1.3em
	.parallax__layer--back
		background-image: url(asset_path('stars.jpg'))
		height: 100vh