---
layout: home
---
<ul class="posts">
  {% for post in site.posts %}
    {% if post.categories contains page.title %}
      <li><span class='meta'>{{ post.date | date_to_string }}</span><h2><a href="{{ post.url }}">{{ post.title }}</a></h2></li>
      <p>{{post.excerpt}}</p>
      {% if post.share == 'shout' %}
        {% include shouting.html param=post%}
      {% elsif post.share == 'discuss' %}
        <p><a href="{{ post.url }}">Read more...</a></p>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
