<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>toomanynames</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width">
        <!-- syntax highlighting CSS -->
        {% stylesheet syntax %}
        <!-- <link rel="stylesheet" href="/css/syntax.css"> -->

        <!-- Custom CSS -->
        {% stylesheet app %}
        <!-- <link rel="stylesheet" href="/css/main.css"> -->
    </head>
    <body>
      {{ content }}

        <!-- Custom JS -->
        {% javascript app %}
        
    </body>
</html>