---
layout: head
---

<body>
  <div id='banner'>
    <div class='title-container'>
      <h1 class='title'><a href={{ site.url }}>{{ site.name }}</a>
    </div>
  </div>
  <div id='home-body' >
    <div class='panel'>
      <h1 id='featured-menu'>
        {% for category in site.featured  %}
          {% if category contains page.title %}
            {% if category contains 'all' %}
            <a href='/' class='active'>{{ category }} </a>
            {% else %}
            <a href='/{{ category }}' class='active'>{{ category }} </a>
            {% endif %}
          {% else %}
            {% if category contains 'all' %}
            <a href='/' class='inactive'>{{ category }} </a>
            {% else %}
            <a href='/{{ category }}' class='inactive'>{{ category }} </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </h1>
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
</body>